/* * {
  margin: 0;
} */

.quicksand-font {
  font-family: 'Quicksand', serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.header-title a {
  padding-right: 32px;
  text-decoration: none;
}
.header-btn {
  color: #fff;
  font-family: Quicksand;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 150% */
  border-radius: 12px;
  background: var(--Orange, #fea301);
  display: flex;
  width: 197px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}
.header-home {
  color: var(--Orange, #fea301);
  font-family: Quicksand;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 150% */
}
.header-about {
  color: var(--Sky-Blue, #01acfd);
  font-family: Quicksand;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
}
.header-facilities {
  color: #05d4df;
  font-family: Quicksand;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
}
.header-admission {
  color: #5d58ef;
  font-family: Quicksand;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
}

.logo {
  width: 62px;
  height: 62px;
  flex-shrink: 0;
}

.website-title {
  color: var(--Black, #111);
  font-family: Quicksand;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 93.75% */
}

.nav-bar,
.logo-title {
  display: flex;
  justify-items: center;
  align-items: center;
}
.nav-bar {
  margin: 0 auto;
  max-width: 1440px;
  justify-content: space-around;
}
.marquee {
  background: #ff6b00;
  color: white;
  padding: 0.5rem 0;
  max-width: 100%;
}
.hero-banner {
  margin: 0 auto;
  max-width: 1440px;
}
.hero-div {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
}
.towards-vision-color {
  color: #01acfd;
}

.enroll-btn {
  color: #fff;
  font-family: Quicksand;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 150% */
  display: flex;
  width: 197px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background: var(--Black, #111);
}

.hero-title,
.banner-description {
  margin-bottom: 24px;
}
.banner-description {
  color: var(--Black, #111);
  font-family: Quicksand;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hero-title {
  font-family: Quicksand;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 61px; /* 108.929% */
}
.Empowering-color {
  color: #fea301;
}
.hero-div {
  display: flex;
  gap: 50px;
}

.hero-title-div {
  max-width: 640px;
  height: auto;
}

.standard-curriculum {
  width: 460.609px;
  height: 57.5px;

  justify-content: center;
}
.std-div-img {
  width: 136.763px;
  height: 136.763px;
}
.std-div-title {
  width: 211.062px;
  height: 31.125px;
  color: #202020;
}
.std-div-para {
  width: 286.259px;
  height: 74.512px;
  max-width: 286px;
  color: #808080;
}
.read-more {
  width: 79.653px;
  height: 18.864px;
  color: #64c8ff;
}

.read-more2 {
  width: 79.653px;
  height: 18.864px;
  color: #f0aa00;
}
.read-more3 {
  width: 79.653px;
  height: 18.864px;
  color: #8700ff;
}
.std-div {
  display: flex;
  padding: 52.819px 40.668px 53.762px 40.878px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 18.864px;
  border: 0.943px solid #def5ff;
  background: linear-gradient(180deg, #def5ff 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
  box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}

.std-div2 {
  display: flex;
  padding: 52.819px 40.668px 53.762px 40.878px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 18.864px;
  border: 0.943px solid #def5ff;
  background: linear-gradient(180deg, #fff4dc 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
  box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}

.std-div3 {
  display: flex;
  padding: 52.819px 40.668px 53.762px 40.878px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 18.864px;
  border: 0.943px solid #def5ff;

  background: linear-gradient(180deg, #eee1ff 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
  box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}

.standard-curriculum {
  color: #000;

  font-family: Quicksand;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.5px; /* 125% */
}
.std-direction {
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
.div-direction {
  gap: 32.069px;
  display: flex;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}
.std-div {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.pre-next {
  margin-bottom: 60px;
}

.std-text {
  color: #000;
  text-align: center;
  font-family: Quicksand;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.5px; /* 125% */
  margin-top: 60px;
}
.standard-section {
  margin: 0 auto;
  max-width: 1440px;
  justify-items: center;
  background-image: url('./assets/bg.png');
}
.story-title {
  width: 402.495px;
  height: 69.984px;
  font-size: 24px;
  padding-left: 38px;
}
.div-btn {
  width: 174.51px;
  height: 47.934px;
  padding: 14.38px 18.876px 15.339px 19.174px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 47.934px;
  background: #3cd8e8;
}
.story-img-1 {
  display: 60%;
}
.cart-1 {
  border-radius: 16px;
  background: #fff;
  width: 540.267px;
  height: 630.518px;
  flex-shrink: 0;
}
.story-des {
  max-width: 433.057px;
  max-height: 75.736px;
  padding-left: 38px;
}
.div-btn-2 {
  color: #fff;
  font-family: Raleway;
  font-size: 15.339px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.761px; /* 187.5% */
  text-transform: capitalize;
  border-radius: 47.934px;
  background: #95b226;
  display: flex;
  width: 174.51px;
  height: 38.347px;
  padding: 9.587px 18.876px 10.545px 19.174px;
  justify-content: center;
  align-items: center;
  border: none;
}
.div-4 {
  border-radius: 16px;
  background: #fff;
  display: flex;
  width: 290.693px;

  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 19.174px;
}
.find-out {
  padding-left: 38px;
}
.div-btn-2-1 {
  color: #fff;
  font-family: Raleway;
  font-size: 15.339px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.761px; /* 187.5% */
  text-transform: capitalize;
  border-radius: 47.934px;
  background: #5d58f0;
  display: flex;
  width: 174.51px;
  height: 38.347px;
  padding: 9.587px 18.876px 10.545px 19.174px;
  justify-content: center;
  align-items: center;
  border: none;
}
.div-btn,
.div-btn-2,
.div-btn-2-1 {
  margin-left: 38px;
  margin-top: -33px;
}

.div-4-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 750px;
}
.story {
  max-width: 1440px;
  margin: 0 auto;
  background-image: url(./assets/bg.png);

  background: linear-gradient(
    to top,
    rgba(254, 163, 1, 0.3),
    rgba(255, 255, 255, 0.3)
  );
}
.div-2-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.stories-btn {
  margin-top: 80px;
  text-align: center;
}

.thirdly-btn {
  background-color: black;
  color: white;
  padding: 10px 60px;
  border-radius: 12px;
  border: none;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 60px;
}
.kids-school {
  width: 206.109px;
  color: #fff;
  font-family: Quicksand;
  font-size: 42.143px;
  font-style: normal;
  font-weight: 700;
  line-height: 39.509px; /* 93.75% */
}
.logo-cls {
  width: 82.902px;
  height: 81.652px;
  flex-shrink: 0;
}

.footer-section {
  display: flex;
  margin: 0 auto;
  /* justify-content: space-between; */
  justify-content: space-around;
  max-width: 1440px;
  background-color: #01acfd;
  padding-top: 124px;
  padding-bottom: 174px;
}
.abt {
  color: white;
}

.txt {
  color: white;
}

.logo-text {
  display: flex;
  align-items: center;
}
.footer-des {
  width: 399.02px;
}

/* media quary part */

@media screen and (max-width: 576px) {
  .website-title,
  .header-title,
  .header-btn {
    display: none;
  }
  .footer-section {
    padding-left: 24px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-des {
    width: 356px;
  }
  .nav-bar > logo {
    margin-left: 1px;
    padding-left: 1px;
  }
  .stories-btn {
    margin-top: 10px;
    text-align: center;
  }
  .thirdly-btn {
    background-color: black;
    color: white;
    padding: 2px 5px;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 60px;
    width: 134px;
    height: 30px;
  }
  .nav-bar {
    margin: 0 auto;
    max-width: 1440px;
    justify-content: space-between;
  }
  .hero-div {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    padding: 20px 0px;
  }
  .hero-img {
    width: 100%;

    max-width: 357px;
  }
  .div-4 {
    width: 173px;
    height: 179px;
  }
  .div-4 > img {
    max-width: 173px;
    max-height: 110px;
  }
  /* .div-4 > div-btn-2 {
    width: 103.909px;
    height: 22.833px;
    justify-content: center;
    align-items: center;
  } */
  .div-btn-2 {
    width: 103.909px;
    height: 22.833px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: Raleway;
    font-size: 7.133px;
    font-style: normal;
    font-weight: 500;
    line-height: 17.125px; /* 187.5% */
    text-transform: capitalize;
  }
  .div-btn-2-1 {
    width: 103.909px;
    height: 22.833px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: Raleway;
    font-size: 7.133px;
    font-style: normal;
    font-weight: 500;
    line-height: 17.125px; /* 187.5% */
    text-transform: capitalize;
  }
  .find-out {
    padding-left: 20px;
    padding-right: 10px;
    margin-bottom: 20px;
    color: #000;
    font-family: Quicksand;
    font-size: 9.133px;
    font-style: normal;
    font-weight: 700;
    line-height: 17.125px; /* 187.5% */
  }
  .cart-1 {
    display: none;
  }
  .hero-title-div {
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;

    max-width: 357px;
  }
  .hero-title {
    text-align: center;
    font-family: Quicksand;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .banner-description {
    text-align: center;
    font-family: Quicksand;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .div-direction {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .pre-next {
    display: none;
  }
  .std-text {
    color: #000;
    text-align: center;
    font-family: Quicksand;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 40px;
  }
  .div-direction {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .div-4-grid > .div-4 {
    margin-bottom: 12px;
  }
  .div-4-grid {
    margin-top: 20px;
  }
}
